nav{
  background-color: gainsboro;
}
  a{
    color: gray;
}
li{
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
ul{
  list-style-type: none;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
header{
  background-color: black;
  text-decoration-color:  white;
}